[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
plotly = "*"
bs4 = "*"
requests = "*"
pyvis = "*"
matplotlib = "*"
streamlit = "*"
escritoras-latinas = {editable = true, path = "."}
pillow = "*"
networkx = "*"

[dev-packages]
ipykernel = "*"
setuptools = "*"
pyprojroot = "*"
pathlib = "*"

[requires]
python_version = "*"
