.appview-container .main {
  color: white;
  background-color: #151515;
}

.sidebar .sidebar-content {
  background-color: #2f2f2f;
}

.reportview-container .markdown-text-container { 
  font-family: monospace; 
} 

.Widget>label { 
  color: white;
} 

.st-bb { 
  background-color: transparent;
} 

.st-at {
   color: white; 
}

.st-at:hover{
  color: black; 
}

.st-d4 {
  color: white;
}

[class^="st-b"] { 
  color: white; 
  font-family: monospace;
  background-color: #0c0080;
  cursor: pointer;
}

.css-zbg2rx {
  background-color: #2f2f2f;
}

.css-ex7byz {
  color: white;
}

.vis-network {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #23DC5F;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

p {
  color:#DC23A0;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
