.appview-container .main {
  color: white;
  background-color: #151515;
}

.reportview-container .markdown-text-container { 
  font-family: monospace; 
} 

.Widget>label { 
  color: white; font-family: monospace; 
} 

.st-bb { 
  background-color: transparent; 
} 

.st-at {
   background-color: #0c0080; 
}

[class^="st-b"] { 
  color: white; 
  font-family: monospace;
  background-color: #2f2f2f;
}

h1{
  color: #23DC5F;
}

p {
  color:#DC23A0;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}